<section>

    <h3 id="about-me">About Me</h3>

    <div class="face-lockup">
    
        <div class="face-img" style="background-image: url(/assets/img/face.jpg);"></div>
        <div class="icon-gamepad">{% include icons/icon-gamepad.html %}</div>
        <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
        <div class="icon-headphones">{% include icons/icon-headphones.html %}</div>
        <div class="icon-superscript">{% include icons/icon-superscript.html %}</div>
    
    
    </div>

    <div class="blurb">
        <p><strong>Mitch is a recent Physics graduate based in Nottingham</strong> trying to figure it all out. When he's not busy <a href="http://soundcloud.com/bearishsoup">making music</a> or trying to shed the weight gained spending the first half of 2015 extreme commuting to his old job as an Informatics Analyst for the NHS North West London CCG, he's often found hammering away the codes or writing about stuff at the keys of his trusty laptop.<br><br></p>
    </div>
    
     <h3 id="about-me">Skills</h3>
    <div class="skill-lockup">
    
        <div class="skill-unit">
            <div class="skill-label">Communication</div>
            <div class="skill-icons skill-8">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        
        <div class="skill-unit">
            <div class="skill-label">Organisation</div>
            <div class="skill-icons skill-6">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        
        <div class="skill-unit">
            <div class="skill-label">Learning</div>
            <div class="skill-icons skill-8">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        
        <div class="skill-unit">
            <div class="skill-label">Problem Solving</div>
            <div class="skill-icons skill-9">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        
        <div class="skill-unit">
            <div class="skill-label">Web Development</div>
            <div class="skill-icons skill-7">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        
        <div class="skill-unit">
            <div class="skill-label">Advanced Mathematics</div>
            <div class="skill-icons skill-8">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        
        <div class="skill-unit">
            <div class="skill-label">Writing</div>
            <div class="skill-icons skill-8">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        
        <div class="skill-unit">
            <div class="skill-label">Software Development</div>
            <div class="skill-icons skill-6">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        
    </div>
    
    
</section>
