<section class="alt-section section-contact">

<h3 id="contact">Social</h3>
    
<div class="social-links">
    <a href="http://twitter.com/mitchstapleton" class="icon-twitter"></a>
    <a href="https://github.com/mitchstapleton" class="icon-github"></a>
    <a href="http://uk.linkedin.com/in/mitchstapleton" class="icon-linkedin"></a>
    <a href="https://instagram.com/mitchstapleton/" class="icon-instagram"></a>
    <a href="http://www.twitch.tv/bearishsoup" class="icon-twitch"></a>
    </div>

    <hr class="bar">
    
    <a class="biglink" href="mailto:mitch.stapleton@gmail.com">mitch.stapleton@gmail.com</a>
</section>