<section>
    <h3>Let's work together</h3>
<form method="POST" action="//formspree.io/mitch.stapleton@gmail.com">
    
    <div class="contact-info-group">
        <label><span>Your Name</span>
            <input type="text" name="name"></label>
            <label><span>Your E-mail</span>
                <input type="email" name="_replyto"></label>
    </div>    
        
    
        <label><span>Talk to me!</span>
        <textarea name="message"></textarea>
            <input type="submit" value="Send"></label>
    
    
</form>


</section>